$extra-narrow-width: 400px !default;
$narrow-width: 550px !default;
$medium-width: 768px !default;
$wide-width: 1024px !default;
$wider-width: 1248px !default;
$extra-wide-width: 1420px !default;
$super-wide-width: 1600px !default;